@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Pretendard", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #781c2e;
  --color-secondary: #a64a5f;
  --color-tertiary: #d9a3ad;
}

.markdown-body {
  @apply space-y-4;
}

.markdown-serif {
  @apply font-serif;
}

.markdown-serif p {
  @apply leading-relaxed text-xl;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3 {
  @apply font-bold mt-6 mb-4;
}

.markdown-body p {
  @apply mb-4 leading-relaxed;
}

.markdown-body ul {
  @apply list-disc pl-6 mb-4;
}

.markdown-body li {
  @apply mb-2;
}

.markdown-body strong {
  @apply font-bold;
}

.markdown-body em {
  @apply italic;
}

.markdown-body a {
  @apply text-blue-500 hover:underline;
}
